streamlit
langchain
langchain-community
langchain-groq
langchain-core
langchain-huggingface
langchain-text-splitters
faiss-cpu
sentence-transformers
pypdf
beautifulsoup4
requests
tavily-python
supabase
bcrypt
twilio
flask
folium
streamlit-folium